<div  class="d-flex p-2" >
    <div [ngStyle]="{'background-color': this.showMonday > 2 ? 'white' : '#FF8181'} " data-size="small"  data-role="tile" class="mr-1 ml-1 fg-black border bd-black">M</div>
    <div [ngStyle]="{'background-color': this.showTuesday > 2 ? 'white' : '#FF8181'} " data-size="small"  data-role="tile" class="mr-1 ml-1 fg-black border bd-black">T</div>
    <div [ngStyle]="{'background-color': this.showWednesday > 2 ? 'white' : '#FF8181'} "  data-size="small" data-role="tile" class="mr-1 ml-1 fg-black border bd-black">W</div>
    <div [ngStyle]="{'background-color': this.showThursday > 2 ? 'white' : '#FF8181'} " data-size="small"  data-role="tile" class="mr-1 ml-1 fg-black border bd-black">Th</div>
    <div [ngStyle]="{'background-color': this.showFriday > 2 ? 'white' : '#FF8181'} " data-size="small"  data-role="tile" class="mr-1 ml-1 fg-black border bd-black">F</div>
    <div [ngStyle]="{'background-color': this.showSaturday > 2 ? 'white' : '#FF8181'} " data-size="small" data-role="tile" class="mr-1 ml-1 fg-black border bd-black">S</div>
</div>
